@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-alpine-dark.css";

.container{
  width: 1000px;
  height: 600px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.ag-theme-alpine-dark{
  width: 100%;
  height: 100%;
  --ag-foreground-color: lightgray;
  --ag-background-color: #3a3a3a;
  --ag-odd-row-background-color: #262626;
  --ag-header-background-color: #262626;
  --ag-alpine-active-color: lightgray;
  //--ag-border-radius: 10px !important;

  //ag-grid.com/angular-data-grid-customising
  //ag-grid.com/angular-data-grid/themes-customising/#customising-themes-using-css-rules
}
//#9879D9 #161A59 #82C9D9 #BF7960 #262626
