<app-info>
  <h2 class="title">Zadanie rekrutacyjne</h2>
  <div class="textContent">
    <p>
      Używając <strong>Angulara i Angular Slick Grid</strong> przygotuj prostą stronę z tabelą z excela (zawierającego 25 wierszy produktów).
    </p>
    <span>W ramach tabeli zaimplementowane powinno być:</span>
    <ul>
      <li>Zablokowana kolumna produktów (nie można jej przesuwać),</li>
      <li>Filtrowanie dla kolumn,</li>
      <li>Paginacja (strona powinna zawierać 5 wpisów),</li>
    </ul>

    <p>Sama lista produktów powinna być zaimplementowana jako tabela obiektów (nie jest wymagane przygotowanie żadnego backendu, który by zwracał dane). Wystarczy też, żeby ta tabela miała 10 wpisów.</p>

    <p>Stylizacja powinna być Twoją własną inwencją i możesz użyć dowolnych frameworków by przygotować rozwiązanie, które według Ciebie będzie wyglądać dobrze.</p>
  </div>
</app-info>
<app-grid></app-grid>
